<html>
<head>
  <title>SW test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/icons.css">
  <link rel="stylesheet" type="text/css" href="/app2.css">
</head>
<body>
  <h1>
    <img src="/img/logo.png" width="50" />
    Hello, service worker
  </h1>
  <p id="message"></p>
  <p>
    <button id="check_for_update_btn" class="btn btn-default">
      Check for update.
    </button>
    &nbsp;
    <button id="reload_btn" class="btn btn-primary" style="display: none;">
      Reload now</button>
  </p>
  <script src="/index.js"></script>
</body>
</html>
