<html data-version="<%= version %>">
<head>
  <title>SW Skelton</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/icons.css">
  <!-- <link rel="stylesheet" type="text/css" href="/css/notfound.css"> -->
</head>
<body>
  <div id="app-container">
    <div class='navbar navbar-inverse'>
      <a class='navbar-brand' href='#'>Scrapbox</a>
    </div>
  </div>
  <script src="/index.js"></script>
</body>
</html>
