<html>
<head>
  <title>SW test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/icons.css">
  <link rel="stylesheet" type="text/css" href="/css/notfound.css">
  <link rel="stylesheet" type="text/css" href="/app2.css">
</head>
<body>
  <div id="app-container"></div>

  <div class="container">

    <p id="message"></p>
    <p>
      <button id="check_for_update_btn" class="btn btn-default">
        Check for update
      </button>
      &nbsp;
    </p>
  </div>
  <script src="/index.js"></script>
</body>
</html>
