body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: brown;
}

.update-found {
  padding-top: 40px;
}

.update-alert-bar {
  position: fixed;
  height: 36px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;

  a {
    display: block;
    background-color: #34c1ae;
    width: 100%;
    border: 0;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #2b9486;
    }

  }
}

.text {
  color: #666;
  font-size: 18px;
  max-width: 400px;
  margin: 50px auto;
  text-align: left;
  line-height: 150%;
}
