body {
  font-family: sans-serif;
}

.reload {
  animation-duration: 1s;
  animation-name: body-fadeout;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes body-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

h1 {
  color: green;
}

.logoimg {
  margin-right: 10px;
}

.update-alert-bar {
  position: fixed;
  height: 36px;
  text-align: center;
  bottom: 0;
  right: 0;
  width: 100px;

  a {
    display: block;
    background-color: #34c1ae;
    width: 100%;
    border: 0;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #2b9486;
    }

  }
}
